/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/*.pem
/*.rnd
/*.lock
/*.rnd
/*.zip
/*.sql
/uploads/ads/1/15/*.png
/uploads/ads/1/5/*.jpg
/uploads/ads/11/10/*.jpg
/uploads/ads/11/11/*.png
/uploads/ads/11/12/*.jpg
/uploads/ads/11/13/*.jpg
/uploads/ads/11/14/*.jpg
/uploads/ads/11/15/*.jpg
/uploads/ads/11/16/*.jpg
/uploads/ads/11/9/*.jpg
/uploads/ads/15/18/*.jpg
/uploads/ads/4/3/*.jpg
/uploads/ads/4/3/*.png
/uploads/avatars/*.jpg
/uploads/avatars/*.png
/uploads/chat/*.jpeg
