/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/uploads/ads/15/22/*.jpeg
/public/uploads/ads/16/23/*.jpeg
/public/uploads/ads/16/23/*.png
/public/uploads/ads/1/2/*.jpeg
/public/uploads/ads/1/3/*.jpeg
/public/uploads/ads/2/1/*.jpeg
/fetch-pet.pem
/public/uploads/ads/5/12/*.jpeg
/public/uploads/ads/5/13/*.jpeg
/public/uploads/ads/6/14/*.jpeg
/public/uploads/ads/6/15/*.jpeg
/public/uploads/avatars/*.jpeg
/*.pem
/public/uploads/ads/6/14/*.png
/public/uploads/ads/6/15/*.png
*.png
*.jpeg
